# Eat Safe, Love

## Notebook Set Up

In [1]:
# Start gitbash and then copy to prompt (including quotes)
# use 'condo activate PythonData' (doesn't run under Python 3 kernel)
# "C:\Program Files\MongoDB\Server\6.0\bin\mongod.exe" --dbpath="c:\data\db"     Include the quotes

In [2]:
# Import dependencies
import pymongo
from pymongo import MongoClient
from pprint import pprint
import pandas as pd
import re

ModuleNotFoundError: No module named 'pymongo'

In [ ]:
# Create an instance of MongoClient
mongo = MongoClient(port=27017)

In [ ]:
db = mongo['uk_food']
print(db)

In [ ]:
# assign the uk_food database to a variable name
qualityf = db.establishments.find()

for q in qualityf:
    print(q)

In [ ]:
# review the collections in our database
print(db.list_collection_names())

In [ ]:
# assign the collection to a variable
ratings = db['establishments']

## Part 3: Exploratory Analysis
Unless otherwise stated, for each question: 
* Use `count_documents` to display the number of documents contained in the result.
* Display the first document in the results using `pprint`.
* Convert the result to a Pandas DataFrame, print the number of rows in the DataFrame, and display the first 10 rows.

### 1. Which establishments have a hygiene score equal to 20?

In [ ]:
# Find the establishments with a hygiene score of 20
hygiene_query = {'scores.Hygiene': 20}
results = ratings.find(hygiene_query)
for r in results:
    print(r)

In [ ]:
# Use count_documents to display the number of documents in the result
print("Number of establishments with a hygiene score of 20:", ratings.count_documents(hygiene_query))
print("Total establishments searched:", ratings.count_documents({}))

In [ ]:
results2 = list(ratings.find(hygiene_query))

In [ ]:
# Display the first document in the results using pprint
pprint(ratings.find_one(hygiene_query))

In [ ]:
# results2

In [ ]:
# Convert the result to a Pandas DataFrame
results2_df = pd.DataFrame(results2)

In [ ]:
# Display the number of rows in the DataFrame
print(f"There are",len(results2_df),"establishments with a hygiene score of 20.")

In [ ]:
# Display the first 10 rows of the DataFrame
results2_df.head(10)

In [ ]:
#query = {'$match': {'ratings.hygiene': {'$eq':20}}}

In [ ]:
#query = {'$match': {'ratings.hygiene': {'$eq':20}}}
#fields = {"_id":1, "BusinessName":1, "LocalAuthorityName":1, "Hygiene":1}
#sort = [('BusinessName',1)]
#limit = 10
#results2 = list(ratings.find(query,fields).sort(sort).limit(limit))

In [ ]:
#pprint(list(ratings.find_one(hygiene_query)))
#pprint(list(ratings.find(query, fields).sort(sort).limit(limit)))

### 2. Which establishments in London have a `RatingValue` greater than or equal to 4?

In [ ]:
#qualityf2 = db.establishments.find()

#for q in qualityf2:
    #print(q)

In [ ]:
# Convert the result to a Pandas DataFrame
#results4_df = pd.DataFrame(qualityf2)

In [ ]:
#results4_df.head(3)

In [ ]:
#query = {'LocalAuthorityCode': {'$regex': "London"}}

#results = ratings.find(query)

#for result in results:
    #pprint(result)

In [ ]:
#c = 'London.'
#london_df[london_df['LocalAuthorityCode'].str.contains(c)]

In [ ]:
# Find the establishments with London as the Local Authority and has a RatingValue greater than or equal to 4.
#query =

# Use count_documents to display the number of documents in the result

# Display the first document in the results using pprint

In [ ]:
#result_df = pd.DataFrame(results2)

#print(len(result_df))
#result_df.head(3)

In [ ]:
# Convert the result to a Pandas DataFrame

# Display the number of rows in the DataFrame

# Display the first 10 rows of the DataFrame

### 3. What are the top 5 establishments with a `RatingValue` rating value of '5', sorted by lowest hygiene score, nearest to the new restaurant added, "Penang Flavours"?

In [ ]:
# Search within 0.01 degree on either side of the latitude and longitude.
# Rating value must equal 5
# Sort by hygiene score

# class video #2 at 2:18:35, 2:41:26

#degree_search = 0.01
#latitude = 
#longitude = 

#query = 
#sort =  

# Print the results

In [ ]:
# Convert result to Pandas DataFrame

### 4. How many establishments in each Local Authority area have a hygiene score of 0?

In [ ]:
# Create a pipeline that: 
# 1. Matches establishments with a hygiene score of 0
# 2. Groups the matches by Local Authority
# 3. Sorts the matches from highest to lowest

# Print the number of documents in the result
#result_df.count()
# Print the first 10 results
#result_df.head(10)

In [ ]:
# Convert the result to a Pandas DataFrame

# Display the number of rows in the DataFrame
#result_df.count()
# Display the first 10 rows of the DataFrame
#result_df.head(10)